{% extends "base_templates.html.twig" %}
{% block content %}
    <h1 class="text-center mt-5 fs-1 fw-bold">Vos trajets</h1>
    <div class="container mt-5 text-center">
        <div class="container mb-5">
            <button class="btn btn-primary" onclick="location.href='index.php?controleur=trajet&methode=enregistrer'">Ajouter un trajet</button>
        </div>

        {% for trajet in listeTrajets %}
            <div class="card mt-3 bg-gradient-secondary shadow">
                <div class="card-body ">
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                            {% for lieu in lieux %}
                                {% if lieu.numero == trajet.numero_lieu_depart %}
                                    <p class="card-title fs-4 btn-group">{{ lieu.numRue }} {{ lieu.nomRue }}, {{ lieu.ville }} → </p>
                                {% endif %}
                            {% endfor %}
                            {% for lieu in lieux %}
                                {% if lieu.numero == trajet.numero_lieu_arrivee %}
                                    <p class="card-title fs-4 btn-group">‎ {{ lieu.numRue }} {{ lieu.nomRue }}, {{ lieu.ville }}</p>
                                {% endif %}
                            {% endfor %}
                            </div>
                        <div class="input-group">
                            <p class="card-title fs-4 btn-group">{{ trajet.heureDep }} - {{ trajet.heureArr }}</p>
                        </div>
                    </div>

                    <div class="text-end">
                        <p> le {{ trajet.dateDep }}</p>
                    </div>

                    <div class="btn-toolbar justify-content-between mt-5">
                        <div class="btn-group">
                            <p class="card-text fs-5">Nombre de places : {{ trajet.nbPlace }}</p>
                        </div>
                        <div class="input-group">
                            <p class="card-text fs-5 badge bg-gradient-dark text-wrap">Prix : {{ trajet.prix }} €</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-align-right">
                    <button class="btn btn-secondary" data-bs-toggle='modal' data-bs-target='#fModifier_{{ trajet.numero }}'>Modifier</button>
                    <button class="btn btn-danger" data-bs-toggle='modal' data-bs-target='#fSupprimer_{{ trajet.numero }}'>Supprimer</button>
                </div>
            </div>

            <!-- Fenetre modale suppression -->
            <div class='modal fade' id='fSupprimer_{{ trajet.numero }}' tabindex='-1' aria-labelledby='Supprimer' aria-hidden='true'>
                <div class='modal-dialog modal-dialog-centered'>
                    <div class='modal-content bg-gradient-primary border-2'>
                        <div class='modal-header'>
                            <h1 class='modal-title fs-5' id='fSupprimerLabel_{{ trajet.numero }}'>Supprimer un trajet</h1>
                            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Annuler'></button>
                        </div>
                        <div class='modal-body'>
                            <p>
                                Voulez-vous vraiment supprimer ce trajet ?
                            </p>
                            <div class="btn-group">
                                {% for lieu in lieux %}
                                    {% if lieu.numero == trajet.numero_lieu_depart %}
                                        <p class="fw-bold text-align-left">{{ lieu.numRue }} {{ lieu.nomRue }}, {{ lieu.ville }} → </p>
                                    {% endif %}
                                {% endfor %}
                                {% for lieu in lieux %}
                                    {% if lieu.numero == trajet.numero_lieu_arrivee %}
                                        <p class="fw-bold text-align-left">‎ {{ lieu.numRue }} {{ lieu.nomRue }}, {{ lieu.ville }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <p class="fw-semibold text-align-left">
                                le {{ trajet.dateDep }} à {{ trajet.heureDep }}
                            </p>
                            {% for reservations in listeReservations %}
                                {% if reservations.numero == trajet.numero %}
                                    {% if reservations.nbPassagers >= 1 %}
                                        <p class="fw-semibold text-align-left badge bg-danger text-wrap" data-toggle="tooltip" title="Ce trajet sera supprimé pour tous les utilisateurs">
                                            Attention ! Ce trajet à été réservé par {{ reservations.nbPassagers }} personne(s).
                                        </p>
                                    {% else %}
                                        <p class="fw-semibold text-align-left badge bg-success text-wrap">
                                            Personne n'a réservé ce trajet.
                                        </p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class='modal-footer'>
                            <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Annuler</button>
                            <button onclick=window.location.href='index.php?controleur=trajet&methode=listerMesTrajets&action=supprimer&id={{ trajet.numero }}'; class='btn btn-danger'><i class='bi bi-trash-fill'></i>Confirmer</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Fenetre modale modification -->
            <div class='modal fade' id='fModifier_{{ trajet.numero }}' tabindex='-1' aria-labelledby='Modifier' aria-hidden='true'>
                <div class='modal-dialog modal-dialog-centered modal-lg'>
                    <div class='modal-content bg-gradient-primary border-2'>
                        <div class='modal-header'>
                            <h1 class='modal-title fs-5' id='fSupprimerLabel_{{ trajet.numero }}'>Modifier un trajet</h1>
                            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Annuler'></button>
                        </div>
                        <div class='modal-body'>

                            <p class="fw-bold text-align-left input-group">
                              <div class="btn-group">
                                    {% for lieu in lieux %}
                                        {% if lieu.numero == trajet.numero_lieu_depart %}
                                            <label class="fw-bold text-align-left">Lieu de départ‎</label><br>
                                            <input class="form-control" type="text" value="{{ lieu.numRue }} {{ lieu.nomRue }}, {{ lieu.ville }}"> →‎
                                        {% endif %}
                                    {% endfor %}
                                    {% for lieu in lieux %}
                                        {% if lieu.numero == trajet.numero_lieu_arrivee %}
                                            <label class="fw-bold text-align-left">Lieu de d'arrivée‎</label><br>
                                            <input class="form-control" type="text" value="{{ lieu.numRue }} {{ lieu.nomRue }}, {{ lieu.ville }}">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </p>
                            <p class="fw-semibold text-align-left input-group">
                                <label>le </label>
                                <input class="form-control" type="date" value="{{ trajet.dateDep }}">
                                à <input class="form-control" type="time" value="{{ trajet.heureDep }}">
                                et arrive à <input class="form-control" type="time" value="{{ trajet.heureArr }}">
                            </p>
                            {% for reservations in listeReservations %}
                                {% if reservations.numero == trajet.numero %}
                                    {% if reservations.nbPassagers >= 1 %}
                                        <p class="fw-semibold text-align-left badge bg-danger text-wrap" data-toggle="tooltip" title="Ce trajet sera supprimé pour tous les utilisateurs">
                                            Attention ! Ce trajet à été réservé par {{ reservations.nbPassagers }} personne(s).
                                        </p>
                                    {% else %}
                                        <p class="fw-semibold text-align-left badge bg-success text-wrap">
                                            Personne n'a réservé ce trajet.
                                        </p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class='modal-footer'>
                            <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Annuler</button>
                            <button onclick=window.location.href='index.php?controleur=trajet&methode=listerMesTrajets&action=modifier&id={{ trajet.numero }}'; class='btn btn-success'><i class='bi bi-trash-fill'></i>Confirmer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="text-center mt-5">
        <a href="index.php" class="btn btn-danger">Retour</a>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="backdrop-filter: blur(2px)">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-gradient-primary border-2">
                <div class="modal-body">
                    Le trajet a bien été supprimé.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="location = 'index.php?controleur=trajet&methode=listerMesTrajets';">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script>
        $(function(){
            $('#myModal').modal({
                show:true,
                backdrop:'static'
            });
            if($('#modalTrigger').length){
                $('#myModal').modal('show');
            }
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
