{% extends "base_templates.html.twig" %}
{% block content %}
    {% for trajet in listeTrajet %}
        <div class="card cardTrajet" >
            <div class="card-body">
                <div style = "display: flex;">
                    <ul class="listeTrajet">
                        <p class = "infoTrajet">{{trajet.heureDep}}</p>
                        <p class = "infoTrajet">{{trajet.villeDep}}</p>
                        <p class = "infoTrajet">{{trajet.numRueDep}} {{trajet.nomRueDep}}</p>
                    </ul>
                    <ul class="listeTrajet2" >
                        <p class = "infoTrajet">{{trajet.heureArr}}</p>
                        <p class = "infoTrajet">{{trajet.villeArr}}</p>
                        <p class = "infoTrajet">{{trajet.numRueArr}} {{trajet.nomRueArr}}</p>
                    </ul>
                </div>
                <div class = "boutonCarteTrajet">
                    <div>
                        <h5 style="display: inline;">{{trajet.prix}} €</h5>
                    </div>
                    <a href="#" class="btn btn-primary" style="display: inline;">Informations du trajet</a>
                </div>
            </div>
        </div>
            <div class="formulaireFiltre">
                <form method="POST" action="?controleur=trajet&methode=lister">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="departTot" name="criteria" value="departTot"/>
                        <label for="departTot">Départ le plus tôt</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="prixBas" name="criteria" value="prixBas" />
                        <label for="prixBas">Prix le plus bas</label>
                    </div>
                    <button style = "margin-left: 20px; margin-top: 20px;" type="submit">Appliquer</button>
                </form>
            </div>
    {% endfor %}
{% endblock %}
