{% extends "base_templates.html.twig" %}
{% block content %}
    {% for trajet in listeTrajet %}
        <div class="card" style = "width: 40rem; margin-left: 150px; margin-top: 50px;">
            <div class="card-body">
                <div style = "display: flex;">
                    <ul class="liste" style="display: inline-block; list-style-type: none; margin: 0; padding: 0;">
                        <p style = "line-height: 1;">{{trajet.heureDep}}</p>
                        <p style = "line-height: 1;">{{trajet.villeDep}}</p>
                        <p style = "line-height: 1;">{{trajet.numRueDep}} {{trajet.nomRueDep}}</p>
                    </ul>
                    <ul class="liste" style = "display: inline block; margin-left: 200px;">
                        <p style = "line-height: 1;">{{trajet.heureArr}}</p>
                        <p style = "line-height: 1;">{{trajet.villeArr}}</p>
                        <p style = "line-height: 1;">{{trajet.numRueArr}} {{trajet.nomRueArr}}</p>
                    </ul>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div>
                        <h5 style="display: inline;">{{trajet.prix}} €</h5>
                    </div>
                    <a href="#" class="btn btn-primary" style="display: inline;">Informations du trajet</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <h1>Page des trajets </h1>
    <a href="index.php" class="btn btn-danger">Retour</a>
{% endblock %}
