{% extends "base_templates.html.twig" %}
{% block content %}
    <h1 class="text-center mt-5 fs-1 fw-bold">Les trajets correspondants</h1>
    {% if infoFiltre != "aucunTrajet" %}
        <div class="formulaireFiltre">
            <form method="POST" action="?controleur=trajet&methode=lister">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="departTot" name="criteria" value="departTot" 
                    {% if infoFiltre == "departTot" %} checked {% endif %}
                    />
                    <label for="departTot">Départ le plus tôt</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="prixBas" name="criteria" value="prixBas" 
                    {% if infoFiltre == "PrixBas" %} checked {% endif %}
                    />
                    <label for="prixBas">Prix le plus bas</label>
                </div>
                <button style = "margin-left: 7%; margin-top: 1%;" type="submit" class = "mb-3 btn btn-primary">Appliquer</button>
            </form>
        </div>
        {% for trajet in listeTrajet %}
            <div class="card mt-3 bg-gradient-secondary shadow carteTrajet" >
                <div class="card-body ">
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                                {% for lieu in listeLieu %}
                                    {% if lieu.numero == trajet.numeroLieuDepart %}
                                        <p class="card-title fs-4 btn-group">{{ lieu.numRue }} {{ lieu.nomRue }}, {{ lieu.ville }} → </p>
                                    {% endif %}
                                {% endfor %}

                                {% for lieu in listeLieu %}
                                    {% if lieu.numero == trajet.numeroLieuArrivee %}
                                        <p class="card-title fs-4 btn-group"> {{ lieu.numRue }} {{ lieu.nomRue }}, {{ lieu.ville }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        <div class="btn-group">
                            <p class="card-title fs-4 btn-group">{{ trajet.heureDep|date("H:i") }} - {{ trajet.heureArr|date("H:i") }}</p>
                        </div>
                    </div>

                    <div class="text-end">
                        <p> le {{ trajet.dateDep|date("d/m/Y") }}</p>
                    </div>

                    <div class="btn-toolbar justify-content-between mt-5">
                        <div class="btn-group">
                            <p class="card-text fs-5">{{ trajet.nbPlace }} places restantes</p>
                        </div>
                        <div class="btn-group">
                        {% if nbPassager == 1 %}
                            <p class="card-text fs-5 badge bg-gradient-dark text-wrap">Prix : {{ trajet.prix }} €</p>
                        {% else %}
                            <p class="card-text fs-5 badge bg-gradient-dark text-wrap">Prix : {{ trajet.prix }} € (x {{nbPassager}})</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer text-align-right">
                    <a href="?controleur=trajet&methode=repondreOffre&id={{ trajet.numero }}" class="btn btn-primary" style="display: inline;">Informations du trajet</a>
                </div>
            </div>
        {% endfor %}
        <br>
    {# Gestion des pages #}
    {% if nbPages > 1 %}
    <div class="container text-center " style="width: auto">
        <div class="row">
            <div class="col">
                <a href="index.php?controleur=trajet&methode=lister&boutonPage={{1}}" {% if numeroPage == 1 %} class="btn btn-primary disabled" {% else %} class="btn btn-primary" {% endif %}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward" viewBox="0 0 16 16">
                        <path d="M.5 3.5A.5.5 0 0 1 1 4v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v2.94l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L8.5 8.752v2.94c0 .653-.713.998-1.233.696L1 8.752V12a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5m7 1.133L1.696 8 7.5 11.367zm7.5 0L9.196 8 15 11.367z"/>
                    </svg>
                </a>
            </div>
            <div class="col">
                <a href="index.php?controleur=trajet&methode=lister&boutonPage={{numeroPage - 1}}" {% if numeroPage == 1 %} class="btn btn-primary disabled" {% else %} class="btn btn-primary" {% endif %}>
                    {# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
                    </svg> #}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-start" viewBox="0 0 16 16">
                        <path d="M4 4a.5.5 0 0 1 1 0v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L5 8.752V12a.5.5 0 0 1-1 0zm7.5.633L5.696 8l5.804 3.367z"/>
                    </svg>
                </a>
            </div>
        {% if numeroPage >= 4 %}
            {% if numeroPage < nbPages - 2 %}
                {% set rangeEnd = nbPages - numeroPage < 2 ? nbPages : numeroPage + 2 %}
                {% for i in range(numeroPage - 2, rangeEnd) %}
                    {% if i == numeroPage %}
                        <div class="col"><a href="index.php?controleur=trajet&methode=lister&boutonPage={{i}}" class="btn btn-outline-primary" name="btnPage">{{i}}</a></div>
                    {% endif %}
                    {% if i != numeroPage %}
                        <div class="col"><a href="index.php?controleur=trajet&methode=lister&boutonPage={{i}}" class="btn btn-primary" name="btnPage">{{i}}</a></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for i in range((nbPages - 4), nbPages) %}
                    {% if i == numeroPage %}
                        <div class="col"><a href="index.php?controleur=trajet&methode=lister&boutonPage={{i}}" class="btn btn-outline-primary" name="btnPage">{{i}}</a></div>
                    {% endif %}
                    {% if i != numeroPage %}
                        <div class="col"><a href="index.php?controleur=trajet&methode=lister&boutonPage={{i}}" class="btn btn-primary" name="btnPage">{{i}}</a></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            {% for i in range(1, 5) %}
                {% if i == numeroPage %}
                    <div class="col"><a href="index.php?controleur=trajet&methode=lister&boutonPage={{i}}" class="btn btn-outline-primary" name="btnPage">{{i}}</a></div>
                {% endif %}
                {% if i != numeroPage %}
                    <div class="col"><a href="index.php?controleur=trajet&methode=lister&boutonPage={{i}}" class="btn btn-primary" name="btnPage">{{i}}</a></div>
                {% endif %}
            {% endfor %}
        {% endif %}
            <div class="col">
                <a href="index.php?controleur=trajet&methode=lister&boutonPage={{numeroPage + 1}}" {% if numeroPage == nbPages %} class="btn btn-primary disabled" {% else %} class="btn btn-primary" {% endif %}>
                    {# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"/>
                    </svg> #}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-end" viewBox="0 0 16 16">
                        <path d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.713 3.31 4 3.655 4 4.308v7.384c0 .653.713.998 1.233.696L11.5 8.752V12a.5.5 0 0 0 1 0zM5 4.633 10.804 8 5 11.367z"/>
                    </svg>
                </a>
            </div>
            <div class="col">
                <a href="index.php?controleur=trajet&methode=lister&boutonPage={{nbPages}}" {% if numeroPage == nbPages %} class="btn btn-primary disabled" {% else %} class="btn btn-primary" {% endif %}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-forward" viewBox="0 0 16 16">
                        <path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.752l-6.267 3.636c-.52.302-1.233-.043-1.233-.696v-2.94l-6.267 3.636C.713 12.69 0 12.345 0 11.692V4.308c0-.653.713-.998 1.233-.696L7.5 7.248v-2.94c0-.653.713-.998 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5M1 4.633v6.734L6.804 8zm7.5 0v6.734L14.304 8z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    {% endif %}    
    {% endif %}
    {% if infoFiltre == "aucunTrajet" %}
    <div class="cardError card bg-gradient-secondary">
        <div class="card-body">
            <h5 class="card-title">Erreur</h5>
            <p class="card-text">Aucun trajet ne correspond à votre recherche</p>
            <a href="?controleur=trajet&methode=rechercher" class="btn btn-primary">Rechercher un nouveau trajet</a>
        </div>
    </div>
    {% endif %}
{% endblock %}
