{% extends "base_templates.html.twig" %}
{% block content %}
    {% for trajet in listeTrajet %}
    <div class="row row-cols-1 row-cols-md-5 g-4 mx-auto">
        <div class="col mb-5">
            <div class="card ms-5 mt-4" style = "width: 25rem;">
                <div class="card-body">
                    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                        <div>
                            <h5 style = "display : inline">{{trajet.villeDep}} -</h5>
                            <h5 style = "display : inline"> {{trajet.heureDep}}</h5>
                        </div>
                        <h5 style="display: inline;">{{trajet.prix}} €</h5>
                    </div>
                    <h5 style = "margin-left: 20px;"> .</h5>
                    <h5 style = "margin-left: 20px;"> .</h5>
                    <h5 style = "margin-left: 20px;"> .</h5>
                    <h5 style = "margin-left: 20px;"> .</h5>
                    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                        <div>
                            <h5 style = "display : inline">{{trajet.villeArr}} -</h5>
                            <h5 style = "display : inline"> {{trajet.heureArr}}</h5>
                        </div>
                        <a href="#" class="btn btn-primary" style="display: inline;">Informations du trajet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <h1>Page des trajets </h1>
    <a href="index.php" class="btn btn-danger">Retour</a>
{% endblock %}
