{% extends "base_templates.html.twig" %}
{% block content %}
    {% for trajet in listeTrajet %}
        <div class="card cardTrajet" >
            <div class="card-body">
                <div style = "display: flex;">
                    <ul class="listeTrajet">
                        <p class = "infoTrajet">{{trajet.heureDep}}</p>
                        <p class = "infoTrajet">{{trajet.villeDep}}</p>
                        <p class = "infoTrajet">{{trajet.numRueDep}} {{trajet.nomRueDep}}</p>
                    </ul>
                    <ul class="listeTrajet2" >
                        <p class = "infoTrajet">{{trajet.heureArr}}</p>
                        <p class = "infoTrajet">{{trajet.villeArr}}</p>
                        <p class = "infoTrajet">{{trajet.numRueArr}} {{trajet.nomRueArr}}</p>
                    </ul>
                </div>
                <div class = "boutonCarteTrajet">
                    <div>
                        <h5 style="display: inline;">{{trajet.prix}} €</h5>
                    </div>
                    <a href="#" class="btn btn-primary" style="display: inline;">Informations du trajet</a>
                </div>
            </div>
        </div>
        <form ACTION='?controleur=trajet&methode=lister' METHOD='POST'>
            <div class="rectangleBleu">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="departTot" name="departTot"/>
                    <label class="form-check-label" for="departTot">Départ le plus tôt</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="prixBas" name="prixBas"/>
                    <label class="form-check-label" for="prixBas">Prix le plus bas</label>
                </div>
            </div>
        </form>
    {% endfor %}
{% endblock %}
