{% extends "base_templates.html.twig" %}
{% block content %}
    <h1 class="text-center mt-5 fs-1 fw-bold">Informations complémentaires</h1>
	<div class="container">
		<div class="row row-cols-1 g-4">
			{# Informations du trajet #}
			<div class="col d-flex justify-content-center mt-xl">
				<div class="card bg-gradient-secondary" style="width: 60rem">
                    <div class="row card-body">
						<div class="col" style = "display: inline-block;">
							<h4><B>Informations du conducteur</B></h4>
							<h5>{{trajet.nom }} {{trajet.prenom}}</h5>
							<h5>{{age}} ans</h5>
							<img src="images/{{ infoTrajet.photoProfil }}" width="70" height="70" style="border-radius: 100%;">
							<p>{{ infoConducteur.expiration_token }}</p>
						</div>
						<div class="col">
							<h4 class="col text-center"><B>Informations du trajet</B></h4>
							<h5 class="col text-center"><em>Date :</em> {{infoTrajet.dateDep|date("d/m/Y")}}</h5>
							{% if nbPassager != 1 %}
								<h5 class="col text-center"><em>Prix :</em> {{infoTrajet.prix}} x {{nbPassager}}€</h4>
							{% else %}
								<h4 class="col text-center">{{infoTrajet.prix}} €</h5>
							{% endif %}
						</div>
						<div class="col text-end">
							<h4><B>Informations de la voiture</B></h4>
							<h5>{{infoVoiture.marque}}</h5>
							<h5>{{infoVoiture.modele}}</h5>
							<h5>{{infoVoiture.nbPlace}} places libres</h5>
						</div>
                    </div>
					<hr>
					<div class="row">
						<div class="row">
							<div class="col text-center">
								<h3 class="card-text">Heure de départ</h3>
								<h2>{{infoTrajet.heureDep|date("H:i")}}</h2>
								<h3 class="card-text">Heure d'arrivée</h3>
								<h2>{{infoTrajet.heureArr|date("H:i")}}</h2>
							</div>
							<div class="col text-center">
								<h4 class="card-text">Lieu de départ</h4>
								{% for lieu in listeLieu %}
									{% if lieu.numero == infoTrajet.numeroLieuDepart %}
										<h3>{{ lieu.numRue }} {{ lieu.nomRue }}, {{ lieu.ville }}</h3>
									{% endif %}
								{% endfor %}

								<h4 class="card-text">Lieu de d'arrivée</h4>
								{% for lieu in listeLieu %}
									{% if lieu.numero == infoTrajet.numeroLieuArrivee %}
										<h3>{{ lieu.numRue }} {{ lieu.nomRue }}, {{ lieu.ville }}</h3>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{# Bouton de validation #}
            <div class="col text-center">
			{% if  numEtudiant == 'etudNonConnecte' %}
				<h4>Vous devez être connecté pour reserver ce trajet !</h4>
			{% elseif infoTrajet.numConducteur == numEtudiant %}
				<h4>Vous ne pouvez pas réserver votre propre trajet.</h4>
			{% else %}
				<a href="?controleur=paiement&methode=afficher&idTrajet={{infoTrajet.numero}}" class="btn btn-primary">Payer</a>
			{% endif %}
            </div>
			<div class="text-center mt-5">
				<a href="?controleur=&methode=" class="btn btn-danger">Retour</a>
			</div>
		</div>
	</div>
{% endblock %}
