{% extends "base_templates.html.twig" %}
{% block content %}

	<h1>Répondre à une offre de trajet</h1>
	{% for trajet in infoTrajet %}
	<div class="container">
		<div class="row">
			<h2 class="col text-start">Date départ : {{trajet.dateDep}}</h2>
			<h2 class="col text-end">{{trajet.prix}}€</h2>
		</div>
		<div class="row row-cols-1 g-4">
        	
			{# Informations du trajet #}
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 60rem">
                    <div class="row card-body">
						<div class="col" style = "display: inline-block;">
							<h4>Informations conducteur</h4>
							<h5>{{trajet.nom }} {{trajet.prenom}}</h5>
							<h5>{{age}} ans</h5>
							<img src="images/{{ trajet.photoProfil }}" width="70" height="70" style="border-radius: 100%;">
						</div>
						<div class="col text-end">
							<h4>Informations voiture</h4>
							<h5>{{trajet.marque}}</h5>
							<h5>{{trajet.modele}}</h5>
							<h5>{{trajet.nbPlace}} places libres</h5>
						</div>
                    </div>
					<hr>
					<hr>
					<div class="row">
						<div class="row">
							<div class="col text-center">
								<h3 class="card-text">Heure de départ</h3>
								<h2>{{trajet.heureDep}}</h2>
								<h3 class="card-text">Heure d'arrivée</h3>
								<h2>{{trajet.heureArr}}</h2>
							</div>
							<div class="col text-center">
								<h4 class="card-text">Lieu de départ</h4>
								<h3>{{trajet.numRueDep}} {{trajet.nomRueDep}} {{trajet.villeDep}}</h3>
								<h4 class="card-text">Lieu de d'arrivée</h4>
								<h3>{{trajet.numRueArr}} {{trajet.nomRueArr}} {{trajet.villeArr}}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
	{% endfor %}
			{# Bouton de validation #}
            <div class="col text-center">
                <input type="submit" class="btn btn-primary" value="Payer"/>
            </div>
		</div>
	</div>
{% endblock %}
