{% extends "base_templates.html.twig" %}
{% block content %}
    <h1 class="text-center mt-5 fs-1 fw-bold">Informations complémentaires</h1>
	{% for trajet in infoTrajet %}
	<div class="container">
		
		<div class="row row-cols-1 g-4">
        	
			{# Informations du trajet #}
			<div class="col d-flex justify-content-center mt-xl">
				<div class="card bg-gradient-secondary" style="width: 60rem">
                    <div class="row card-body">
						<div class="col" style = "display: inline-block;">
							<h4><B>Informations du conducteur</B></h4>
							<h5>{{trajet.nom }} {{trajet.prenom}}</h5>
							<h5>{{age}} ans</h5>
							<img src="images/{{ trajet.photoProfil }}" width="70" height="70" style="border-radius: 100%;">
						</div>
						<div class="col">
							<h3 class="col text-center"><B>Informations du trajet</B></h3>
							<h4 class="col text-center"><em>Date :</em> {{trajet.dateDep|date("d/m/Y")}}</h4>
							<h4 class="col text-center"><em>Prix :</em> {{trajet.prix}}€</h4>
						</div>
						<div class="col text-end">
							<h4><B>Informations de la voiture</B></h4>
							<h5>{{trajet.marque}}</h5>
							<h5>{{trajet.modele}}</h5>
							<h5>{{trajet.nbPlace}} places libres</h5>
						</div>
                    </div>
					<hr>
					<div class="row">
						<div class="row">
							<div class="col text-center">
								<h3 class="card-text"><B>Heure de départ</B></h3>
								<h2>{{trajet.heureDep|date("H:i")}}</h2>
								<h3 class="card-text"><B>Heure d'arrivée</B></h3>
								<h2>{{trajet.heureArr|date("H:i")}}</h2>
							</div>
							<div class="col text-center">
								<h4 class="card-text"><B>Lieu de départ</B></h4>
								<h3>{{trajet.numRueDep}} {{trajet.nomRueDep}} {{trajet.villeDep}}</h3>
								<h4 class="card-text"><B>Lieu de d'arrivée</B></h4>
								<h3>{{trajet.numRueArr}} {{trajet.nomRueArr}} {{trajet.villeArr}}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			{# Bouton de validation #}
            <div class="col text-center">
				<a href="?controleur=paiement&methode=afficher&idTrajet={{trajet.numero}}" class="btn btn-primary">Payer</a>
            </div>
	{% endfor %}
			<div class="text-center mt-5">
				<a href="?controleur=&methode=" class="btn btn-danger">Retour</a>
			</div>
		</div>
	</div>
{% endblock %}
